{% extends "base/base.twig" %}
{% block content %}
    <div id="screen">
        
        {% if sortage %}                    
            <ul id="filters">
                <li class="link-all"><a href="#" data-filter="*">Show all</a></li>
                <li class="link-Failed"><a href="#" data-filter=".Failed:not(.building)">Failed</a></li>
                <li class="link-Successful"><a href="#" data-filter=".Successful">Successful</a></li>
                <li class="link-building"><a href="#" data-filter=".building">Building</a></li>
                <li class="link-other"><a href="#" data-filter=":not(.Failed,.Successful)">Other</a></li>
            </ul>
        {% endif %}
        <div id="content">
            <ul id="branchContainer">
                {% for branch in branches %}
                    {% set states = ['plan'] %}
                    {% if branch.builds[0] is defined %}
                        {% set states = states|merge([branch.builds[0].state]) %}
                    {% endif %}
                    {% if branch.status.isBuilding %}
                        {% set states = states|merge(['building']) %}
                    {% endif %}
                    <li class="{{ states | join(' ') }}"
                            >{{ branch.name }}</li>
                {% endfor %}
            </ul>
            <div class="updateTime">Last update :{{ time }}</div>
        </div>
    </div>
   
{% endblock %}
    
{% block jsfiles %}
 <script>
        {% if sortage %}
        $(document).ready(function(){
            var $container = $('#branchContainer');
            // initialize isotope
            $container.isotope({
              // options...
            });
            $('#filters a').click(function(){
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector });
                return false;
            });
            
        });
        {% endif %}
        (function ()
        {
            var reload = function ()
            {
                var url = window.location.href + " #content";
                $('#screen').load(url, function ()
                {
                    //setTimeout(reload, 1000);
                });        
            };
            //setTimeout(reload, 2000);
        })();
    </script>
{% endblock %}