/* #Variable Definitions
================================================== */
$padding:1em;
$color-standard: #447294;
$color-failed: #BB3355;
$color-success: #166622;
$color-building: #E0F635;
$color-border : #fff;
$color-font: #fff;
$color-bg : #889999;